<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
      <span class="navbar-brand social"> 
        <a href="mailto:mail2majumdar@gmail.com" title="email">
          <i class="fa-solid fa-envelope"></i>
        </a> 
        <a href="https://www.linkedin.com/in/jeet-majumdar-india/" title="LinkedIn" rel="external nofollow noopener" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a> 
        <!-- <a href="https://orcid.org/0000-0001-7291-2955" title="ORCID" rel="external nofollow noopener" target="_blank">
          <i class="ai ai-orcid"></i>
        </a> 
        <a href="https://scholar.google.com/citations?hl=en&user=FQF2VEcAAAAJ" title="Google Scholar" rel="external nofollow noopener" target="_blank">
            <i class="ai ai-google-scholar"></i>
        </a> 
        <a href="https://www.researchgate.net/profile/Jeet-Majumdar/" title="ResearchGate" rel="external nofollow noopener" target="_blank">
          <i class="ai ai-researchgate"></i>
        </a>  -->
        
        <a href="https://github.com/Jeet-Majumdar" title="GitHub" rel="external nofollow noopener" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a> 
        <a href="https://x.com/jeetmajumdar10?lang=en" title="X" rel="external nofollow noopener" target="_blank">
            <i class="fa-brands fa-x-twitter"></i>
        </a> 
    </span>
    </div>      
    <nav class="sidebar-nav">
      {% comment %}
      	<a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
      {% endcomment %}

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% comment %}
        {% assign pages_list = site.pages %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if node.layout == "page" %}
              <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endcomment %}

      <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
      <a class="sidebar-nav-item{% if page.url == '/categories/' %} active{% endif %}" href="{{ site.baseurl }}/categories">Categories</a>
      <a class="sidebar-nav-item{% if page.url == '/publications/' %} active{% endif %}" href="{{ site.baseurl }}/publications">Publications</a>
      <a class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %}" href="{{ site.baseurl }}/about">About</a>
      <a class="sidebar-nav-item{% if page.url == '/disclaimer/' %} active{% endif %}" href="{{ site.baseurl }}/disclaimer">Legal Disclaimer</a>

      <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>  <-->
      <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>  <-->
      
    </nav>

    <p class="sidebar-nav-item">Currently v{{ site.version }}</p>
    <p>&copy; Jeet Majumdar {{ site.time | date: '%Y' }}. All rights reserved. <a style="color: rgba(255,255,255,.5);" href="{{ site.baseurl }}/disclaimer">Disclaimer.</a></p>

    <div class="lead" style="align-items: center;">
      <img style="float: middle;" src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fjeet-majumdar.github.io%2Flive%2F%2F&count_bg=%2379C83D&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false"/>
    </div>
  </div>
</div>
